<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<div class="container">
  <h2>Discover your true self</h2>
<div class="form">
  <form>
      <div class="col-md-4">
        <label for="name"> Your Name</label>
        <input type="text" required class="form-control" id="name">
      </div>
      <div class="col-md-4">
        <label for="author"> Author</label>
        <input type="text" required class="form-control" id="author">
      </div>
      <div class="col-md-4">
        <label for="quote">Quote</label>
        <textarea class="form-control" id="quote" required></textarea>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
  </form>
</div>
