<p>{{quote.details}}</p>
<div class =container-fluid>
  <div class=jumbotron>
    <span class="time">This quote was uploaded {{quote.time |timeCount}}</span>
     <div class="btns">
      <button id="delete" class="btn btn-danger btn-lg" (click)='quoteDelete(true)'><i class="far fa-trash-alt"></i></button>
      <button id="upvote" class="btn btn-danger" (click)='upVote()'><i class="far fa-thumbs-up"></i><span>{{upVotes}}</span></button>
      <button id="downvote" class="btn btn-danger" (click)='downVote()'><i class="far fa-thumbs-down"></i><span>{{downVotes}}</span></button><br>
     </div>
  </div>
 </div>
